{% extends "network/components/post.html" %}
{% comment 'Context' %} 

    var: user, model: User
    var: post, model: Reply

{% endcomment %}
{% comment 'Blocks' %} 

    three_dots_icon             - inherited, post.html
    reply_bar                   - inherited, post.html
    reply_to                    - inherited, post.html
    post_profile_icon           - inherited, post.html

{% endcomment %}
{% comment %} adds continuity line {% endcomment %}
{% block post_profile_icon %}
    {% include "network/components/post_profile_icon_reply.html" %}
{% endblock post_profile_icon %}
{% comment %} empties 'three_dots_icon' {% endcomment %}
{% block three_dots_icon %}
{% endblock three_dots_icon %}
{% comment %} empties 'reply_bar' {% endcomment %}
{% block reply_bar %}
{% endblock reply_bar %}
{% block reply_to %}
    <div class="reply-to">
        Replying to <span class="reply-to-username">@{{ post.replier.username }}</span>
    </div>
{% endblock reply_to %}
