{% extends "network/meta/base_a.html" %}
{% comment 'Context' %} 


{% endcomment %}
{% comment 'Blocks' %} 

    body                - inherited
    write_post
    nav
    section_main
    section_aside
    footer

{% endcomment %}
{% block body %}
    {% block write_post %}
        <div class="write-post-overlay hide">
            <div class="write-post-wrapper"></div>
        </div>
    {% endblock write_post %}
    <div class="main-layout-a">
        <header>
            <nav>
                {% block nav %}
                    {% include "network/components/navigation.html" %}
                {% endblock nav %}
            </nav>
        </header>
        <main>
            <section>
                {% block section_main %}
                {% endblock section_main %}
            </section>
            <section>
                {% block section_aside %}
                {% endblock section_aside %}
            </section>
        </main>
        {% block footer %}
            <footer>
            </footer>
        {% endblock footer %}
    </div>
{% endblock body %}
