/* Index */

/* NOTES: 

  - some of the sections below directly correspond to files in 'templates/network/components'
  (my lego pieces) 

  - other sections like 'Home Styles', 'Profile Styles', etc, refer to the pages returned to the user
  so they correspond to 'paths' or 'views' in 'urls.py' and 'views.py' respectively.

  - 'utility-wrapper' is a class used for semantic purposes only it won't have any property declarations

*/

/* ---------------------------------------------- General Styles */

/* ---------------------------------------------- Header Styles */

/* ---------------------------------------------- Modal Styles */

/* ---------------------------------------------- Post Button Styles (navigation) */

/* ---------------------------------------------- Close Button Styles */

/* ---------------------------------------------- Logo Styles */

/* ---------------------------------------------- Main Styles */

/* --------------- Home Styles */

/* --------------- Explore Styles */

/* --------------- Profile Styles */

/* --------------- Post Styles */

/* --------------- Simplified Reply Styles */

/* --------------- Write Post Styles */

/* ---------------------------------------------- Media Queries */

/* ---------------------------------------------- Override Styles */

/* ------------------------------------------------------------------------------------------------------------------------------------------ */

/* ---------------------------------------------- General Styles */

:root {
  /* variables */
  --bg-color: black; /* background color */
  --bg-color-nav-link: hsl(0, 0%, 10%); /* background color hover */
  --bg-color-post-btn: rgb(29, 155, 240);
  --bg-color-post-btn-hover: rgb(26, 140, 216);
  --f-color: rgb(231, 233, 234); /* font color */
  --f-color-secondary: rgb(113, 118, 123);
  --b-color: rgb(47, 51, 54); /* border color */

  --continuity-line-color: rgb(51, 54, 57);

  --bg-color-active-blue: rgba(29, 155, 240, 0.1);
  --fill-active-blue: rgb(29, 155, 240);
  --bg-color-active-green: rgba(0, 186, 124, 0.1);
  --fill-active-green: rgb(0, 186, 124);
  --bg-color-active-red: rgba(249, 24, 128, 0.1);
  --fill-active-red: rgb(249, 24, 128);

  /* --bg-overlay: hsla(209, 22%, 50%, 0.4); */
  --bg-overlay: rgba(91, 112, 131, 0.4);

  --fill-active-white: rgb(239, 243, 244);

  /* root styles */
  font-size: 10px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--f-color);
  font-size: 1.5rem;
  line-height: 2rem;

  /* normalize  */
  margin: 0;
  padding: 0;
}

.stop-scrolling {
  /* used on 'body' to disable scrolling with javascript */
  /* height: 100%;  --> not needed */
  overflow: hidden;
}

.hide {
  display: none;
}

.disabled {
  opacity: 0.5;
  cursor: default;
}

.main-layout-a {
  margin: 0 auto;
  width: 126rem;
  /*131rem*/

  display: flex;
}

.border-pill {
  border-radius: 9999px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-cross-center {
  /* cross axis center */
  align-items: center;
}

.flex-main-center {
  /* main axis center */
  justify-content: center;
}

.flex-main-end {
  justify-content: end;
}

.flex-cross-end {
  align-items: end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}

.text-secondary {
  color: var(--f-color-secondary);
}

.text-small {
  font-size: 1.3rem;
}

.background-transition {
  transition-property: background-color;
  transition-duration: 0.2s;
}

.color-transition {
  transition-property: color;
  transition-duration: 0.2s;
}

.fill-transition {
  transition-property: fill;
  transition-duration: 0.2s;
}

/* ---------------------------------------------- Header Styles */

.navigation {
  display: flex;
  flex-direction: column;
  row-gap: 6rem;

  width: 26rem;
  padding: 0 0.8rem;
}

.navigation a {
  text-decoration: none;
  font-size: 2rem;
  color: inherit;

  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.nav-chunk {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
}

.nav-chunk-item {
  display: flex;
  flex-direction: column;
}

.nav-chunk-item a:hover {
  --bg-local: var(--bg-color-nav-link);
}

.nav-chunk-item a div {
  display: inline-flex;
  align-items: center;
  column-gap: 1.6rem;

  padding: 1.2rem;
  padding-right: 3rem;
  border-radius: 9999px;

  background-color: var(--bg-local);

  transition-property: background-color;
  transition-duration: 0.2s;
}

/* ---------------------------------------------- Modal Styles */

.modal-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: var(--bg-overlay);
  z-index: 1000;

  display: flex;
  justify-content: center;
}

.modal-overlay.hide {
  /* 'and' operation to increase specificity and override 'display: flex' from '.modal-overlay' */
  display: none;
}

.modal-set-height {
  /* solution to allow me to set 'min-height' on '.modal-wrapper' */
  height: 1000rem;
}

.modal-wrapper {
  width: 60rem;
  min-height: 20rem;

  background-color: var(--bg-color);
  border-radius: 1.6rem;

  position: relative;
  top: 5.4rem;
  left: 0.6rem;
}

.modal-wrapper > div {
  padding-inline: 1.6rem;
}
.modal-wrapper > div:first-child {
  height: 5.3rem;
  padding-inline: 1rem;
  margin-bottom: 1.6rem;

  display: flex;
  align-items: center;
  justify-content: start;
}

/* ---------------------------------------------- Post Button Styles (navigation) */

/* post button needs higher specificity than '.nav-chunk-item a div' to override 'inline-flex' and take up full container width */
/* .post-button { */
.nav-chunk-item .post-button {
  display: flex;
  justify-content: center;

  height: 5rem;
  max-width: 23rem;
  padding: 0;
  background-color: var(--bg-color-post-btn);

  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
}

.nav-chunk-item .post-button:hover {
  background-color: var(--bg-color-post-btn-hover);
}

/* ---------------------------------------------- Close Button Styles */

.close-button {
  background-color: var(--bg-color);
  border: none;
  padding: 0;
}

.close-button:hover {
  cursor: pointer;
}

.svg-close-wrapper {
  fill: var(--fill-active-white);
}

.svg-close-wrapper:hover {
  /* - hovering this element changes the background color of any of its children that use --bg-local as background-color */
  /* - see .svg-wrapper */
  --bg-local: var(--bg-color-nav-link);
}

/* ---------------------------------------------- Logo Styles */

/* needs higher specificity than '.nav-chunk-item a div' */
.nav-chunk-item .site-logo {
  font-family: "Kalam", Arial, Helvetica, sans-serif;
  padding: 1.2rem;
}

/* ---------------------------------------------- Main Styles */

main {
  width: 105rem;

  display: flex;
  justify-content: space-between;
}

main section:first-child {
  width: 59.8rem;
  min-height: 100vh;

  border-left: 1px solid var(--b-color);
  border-right: 1px solid var(--b-color);
}

main section:last-child {
  width: 35rem;
}

.spacing {
  height: 20rem;
}

.section-main article {
  border-bottom: 1px solid var(--b-color);
}

/* --------------- Home Styles */

.filter-post {
  display: flex;
}

.filter-post a {
  height: 5.3rem;
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-post a:hover {
  background-color: var(--bg-color-nav-link);
  cursor: pointer;

  transition-property: background-color;
  transition-duration: 0.2s;
}

.filter-post span {
  color: var(--f-color-secondary);

  padding: 1.6rem 0 1.2rem 0;
}

.filter-post .active-link {
  font-weight: bold;
  color: var(--f-color);
  border-bottom: 4px solid var(--bg-color-post-btn);
}

/* --------------- Explore Styles */

/* --------------- Profile Styles */

/* --------------- Post Styles */

.post {
  cursor: pointer;
  padding-inline: 1.6rem;
}

.post > div:first-child {
  padding-top: 1.2rem;
}

.post-content-wrapper {
  display: flex;
}

.post-profile-wrapper {
  margin-right: 0.8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-profile-icon {
  position: relative;
}

.post-profile-icon a {
  display: inline-block;
  height: 4.4rem;
  width: 4.4rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.post-profile-icon a div {
  width: 4rem;
  height: 4rem;
  border-radius: 9999px;
  background-image: url("../images/default_profile_400x400.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.post-profile-overlay {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;

  width: 4rem;
  height: 4rem;
  border-radius: 9999px;

  background-color: rgba(26, 26, 26, 0);

  transition-property: background-color;
  transition-duration: 0.2s;
}

.post-profile-overlay:hover {
  background-color: rgba(26, 26, 26, 0.15);
}

.post-content {
  /* flex: 1; */
  padding-bottom: 1.2rem;
}

.post-meta .svg-more-wrapper {
  /* overrides .svg-wrapper's width and height */
  width: 3.5rem;
  height: 1.9rem;
}

.name-handle-date-wrapper a:nth-child(1) {
  color: var(--f-color);
  font-weight: bold;
}

.name-handle-date-wrapper a {
  color: var(--f-color-secondary);
  text-decoration: none;
}

.name-handle-date-wrapper a:nth-child(1):hover {
  text-decoration: underline;
}

.name-handle-date-wrapper a:nth-child(4):hover {
  text-decoration: underline;
}

.name-handle-date-wrapper span {
  color: var(--f-color-secondary);
}

.message-wrapper {
  margin-top: 0.2rem;
  max-width: 98%;
  word-break: break-all;
}

.reply-repost-like-wrapper {
  display: flex;
  justify-content: space-between;

  margin-top: 1.2rem;
}

.svg-reply-wrapper {
  color: var(--f-color-secondary);
  fill: var(--f-color-secondary);

  transition-property: background-color, fill;
  transition-duration: 0.2s;
}

.svg-reply-wrapper:hover {
  /* - hovering this element changes the background color of any of its children that use --bg-local as background-color */
  /* - see .svg-wrapper */
  --bg-local: var(--bg-color-active-blue);

  color: var(--fill-active-blue);
  fill: var(--fill-active-blue);
}

.svg-repost-wrapper {
  color: var(--f-color-secondary);
  fill: var(--f-color-secondary);

  transition-property: background-color, fill;
  transition-duration: 0.2s;
}

.svg-repost-wrapper:hover {
  /* - hovering this element changes the background color of any of its children that use --bg-local as background-color */
  /* - see .svg-wrapper */
  --bg-local: var(--bg-color-active-green);

  color: var(--fill-active-green);
  fill: var(--fill-active-green);
}

.svg-like-wrapper {
  color: var(--f-color-secondary);
  fill: var(--f-color-secondary);

  transition-property: background-color, fill;
  transition-duration: 0.2s;
}

.svg-like-wrapper:hover {
  /* - hovering this element changes the background color of any of its children that use --bg-local as background-color */
  /* - see .svg-wrapper */
  --bg-local: var(--bg-color-active-red);

  color: var(--fill-active-red);
  fill: var(--fill-active-red);
}

.count {
  margin-left: -0.4rem;
}

.svg-wrapper {
  width: 3.5rem;
  height: 3.5rem;

  background-color: var(--bg-local);
}

.svg-wrapper svg {
  width: 1.9rem;
  height: 1.9rem;
}

/* --------------- Simplified Reply Styles */

.reply-to {
  color: var(--f-color-secondary);

  padding-top: 0.4rem;
  padding-bottom: 1.6rem;
}

.reply-to-username {
  color: var(--fill-active-blue);
}

.continuity-line {
  flex: 1; /* alternatively, height: 100%; */
  width: 0.2rem;

  background-color: var(--continuity-line-color);
}

/* --------------- Write Post Styles */

.write-message-wrapper {
  padding-block: 1rem;
  min-height: 9.6rem;
  /* max-height: 70rem;
  max-height: 90%; */
  max-height: 50vh;

  overflow: auto;
}

.write-message-wrapper:hover {
  cursor: text;
}

.write-message-wrapper > div {
  border-inline: 0.2rem solid var(--bg-color);
}

.message-content {
  font-size: 2rem;
  line-height: 2.4rem;
  outline-style: none;

  max-width: 98%;
  word-break: break-all;
}

.message-placeholder {
  font-size: 2rem;
  line-height: 2.4rem;

  color: var(--f-color-secondary);
}

.form-spacing {
  height: 3.6rem;
  border-bottom: 1px solid var(--b-color);
}

.form-post-button-wrapper {
  height: 4.8rem;
  padding-bottom: 1rem;
}

.form-post-button {
  background-color: var(--bg-color-post-btn);
  border: none;
  padding: 0;

  /* margin-left: 1.2rem; */

  width: 6.6rem;
  height: 3.4rem;

  color: var(--f-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.form-post-button:hover {
  cursor: pointer;
  background-color: var(--bg-color-post-btn-hover);
}

.form-post-button:hover.disabled {
  cursor: default;
  background-color: var(--bg-color-post-btn);
}

/* ---------------------------------------------- Media Queries */
