{% extends "network/components/modals/modal.html" %}
{% comment 'Context' %} 

    var: user, model: User
    var: post, model: Reply

{% endcomment %}
{% comment 'Blocks' %} 
              
    modal_content           - inherited, from modal.html
    
{% endcomment %}
{% load static %}
{% block modal_content %}
    <div class="utility-wrapper">
        <div class="utility-wrapper">
            <div class="flex">
                {% block profile_icon %}
                    {% include "network/components/posts/post_profile_icon_not_interactive.html" %}
                {% endblock profile_icon %}
                <div class="write-message-wrapper flex-1"
                     data-js-select-write-message-wrapper>
                    <div>
                        <span class="message-content"
                              data-js-select-message-content
                              contenteditable="true"></span>
                        <span class="message-placeholder" data-js-select-message-placeholder>What is happening?!</span>
                    </div>
                </div>
            </div>
            <div class="form-spacing"></div>
            <div class="form-post-button-wrapper flex flex-main-end flex-cross-end flex-h-gap">
                <div class="char-left-wrapper">
                    <span class="char-left" data-js-select-char-left>280</span>
                </div>
                <button type="button"
                        disabled="true"
                        class="form-post-button disabled border-pill flex flex-center background-transition"
                        data-js-select-form-post-button>
                    <div>Post</div>
                </button>
            </div>
        </div>
    </div>
{% endblock modal_content %}
